@import './style-mobile.css';

.home-header {
  display: flex;
  flex-direction: row;
  justify-content: space-between;
  align-items: center;
  background: linear-gradient(to right, #fc4a1a 0%,#f7b733 100% );
  -webkit-box-shadow: 0px 10px 42px -13px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 10px 42px -13px rgba(0,0,0,0.75);
  box-shadow: 0px 10px 42px -13px rgba(0,0,0,0.75);
}

.home-header > img {
  max-width: 47vw;
  max-height: 14.3vw;
}

.home-header > h1 {
  margin-right: 18vw;
  font-size: 4vw;
  font-weight: bolder;
  color: white;
}