.book-card {
  display: flex;
  flex-direction: column;
  align-items: center;

  height: 26vw;
  margin: 4vw auto auto auto;
  width: 20vw;
  border-radius: 1.5vw;
  -webkit-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 14px -4px rgba(0,0,0,0.75);
  transition: box-shadow 150ms linear 0s;
}

.book-card:hover {
  -webkit-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
  -moz-box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
  box-shadow: 0px 0px 24px 0px rgba(0,0,0,0.75);
}

.thumbnail {
  margin-top: 2vw;
  margin-bottom: 0.8vw;
  height: 35%;
  max-width: 35%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.thumbnail > img {
  max-height: 100%;
  max-width: 100%;
}

.loading-thumbnail {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
}

.loading {
  font-size: 5vw;
  color: var(--default-color);

  animation-name: rotating;
  animation-duration: 3s;
  animation-iteration-count: infinite;
  animation-timing-function: linear;
}

@keyframes rotating {
  from {
    transform: rotate(0deg);
  } to {
    transform: rotate(360deg);
  }
}

.book-information {
  display: flex;
  flex-direction: column;
  align-items: center;
  justify-content: space-between;
  width: 100%;
}

.book-description {
  text-align: center;
}

.book-description > span {
  margin-top: 1vw;
  font-weight: bolder;
  font-size: 1vw;
}

.book-description > p {
  font-size: 0.8vw;
}

.user {
  display: flex;
  flex-direction: column;
  align-items: center;
  padding-top: 0.6vw;
  background-color: #dedede;
  width: 100%;
}

.user-information {
  color: #666;
  font-size: 1vw;
  overflow: hidden;
  margin-bottom: 0.7vw;
}

.user-information > span {
  margin-left: 0.5vw;
}

.card-button {
  margin-top: 1vw;
  margin-bottom: 1vw;
  font-size: 1.2vw;
  width: 8vw;
  height: 3vw;
  background-color: var(--lighter-color);
  border: none;
  color: white;
  border-radius: 1.5vw;
}

.card-button:hover {
  background-color: var(--darker-color);
}